allure-pytest==2.16.0
allure-python-commons==2.16.0
annotated-types==0.7.0
attrs==26.1.0
grpcio==1.81.1
grpcio-tools==1.81.1
iniconfig==2.3.0
mypy-protobuf==5.1.0
packaging==26.2
pluggy==1.6.0
protobuf==6.33.6
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.0
pytest-asyncio==1.4.0
python-dotenv==1.2.2
setuptools==82.0.1
types-protobuf==7.34.1.20260518
typing-inspection==0.4.2
typing_extensions==4.15.0
